*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    color: #ffff;
}
#main{
     display: flex;
     min-height: 100vh;
}
#container_1{
    flex: 1;
    background-color: #202020;
    display: flex;
    flex-direction: column;
}
#container_2{
    flex: 1;
    background-color: #ffff;
}
.com_nam{
    padding: 40px 40px;
}
.logo{
    display: flex;
    justify-content: space-evenly;
}
.detail div span{
    font-size: 16px;
    line-height: 2.5;
}
.detail div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.box1{
    padding: 20px 40px;
}
.trust{
    color: #949494;
    font-weight:300;
    margin-top: 50px;
}
.rating_star{
    margin-left: 2px;
}