*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    color: #ffff;
}
#main{
     display: flex;
     min-height: 100vh;
}
#container_1{
    flex: 1;
    background-color: #202020;
    display: flex;
    flex-direction: column;
}
#container_2{
    flex: 1;
    background-color: #ffff;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.com_nam{
    padding: 40px 40px;
}
.logo{
    display: flex;
    justify-content: space-evenly;
}
.detail div span{
    font-size: 16px;
    line-height: 2.5;
}
.detail div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.box1{
    padding: 20px 40px;
}
.trust{
    color: #949494;
    font-weight:300;
    margin-top: 50px;
}
.rating_star{
    margin-left: 2px;
}

#signup_form{
    display: flex;
    flex-direction: column;
}

#contact_form{
    display: flex;
    flex-direction: column;
}
#contact_form input{
    border-radius:5px;
    border:1px solid #ccc;
}
.cont-for-1{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    gap: 10px;
}

.cont-for-1 input{
    padding: 12px 30px;
    width: 500px;
}
#container_contact{
    margin-bottom: 40px;
}
.btn{
    margin-top: 40px;
    margin-right: 448px;
}
.btn button{
    padding: 12px 15px;
    border-radius: 20px;
    border: none;
    background-color: #6e6e6e;
    color: #fff;
}
