*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:Roboto ;
    background-color: #ffff;
    /* height: 100vh; */
}
#head{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 200px;
}
#main{
    display: flex;
    justify-content: center;
}
#container button img{
    height: 10px;
}
#container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
}
button{
    width: 400px;
    height: 40px;
}
input{
    /* width: 400px; */
    height: 40px;
}
footer{
    align-items: center;
    background-color:rgb(217, 212, 212);
    text-align: center;
    margin-top: 19%;
}
