*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:'Roboto', sans-serif;
}

#header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 20px 90px;
    /* background-color: aqua; */
    border: solid 1px gainsboro;
    position: sticky;
    top: 0;
    background-color: #ffff;
}

.left_header{
    display: flex;
    align-items: center;
    gap: 20px;

}
.left_header ul h3{
    font-weight:400;
}

.right_header{
    display: flex;
    align-items: center;
    gap: 20px; 
}
.right_header input{
    width: 200px;
    height: 42px; 
    padding-left: 10px;
    border-radius: 10px;
    border: solid 1px gainsboro;
}

.right_header button{
    height: 36px;
    width: 83px;
    border-radius: 10px;
    border: none;
}
.btn_1{
    color: #2a3e74;
}
.btn_2{
    color: #ffff;
    background-color: #001959;
}
#page_1{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding: 0px 100px;
}
#page_1_up {
    display: flex;
    justify-content: space-between;
}
.page_1_content{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    gap: 20px;
}
.con1{
    display: flex;
    align-items: center;
    width: 350px;
    height: 38px;
    border: dotted 3px gainsboro;
    border-radius: 12px;
    padding: 10px;
    gap: 10px;
    
}
.pag_1_btn{
    display: flex;
    gap: 20px;
}
#page_1_up img{
    height: 500px;
}
.pag_1_btn button{
    height: 53px;
    width: 150px;
    border-radius: 10px;
    border:none;
    cursor: pointer;
}

#page_1_down{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.pg_box_1{
    height: 150px;
    width: 100%;
    background-color: #001959;
    border-radius: 20px 100px 20px 20px;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 10px; */
}
.pg-box-1a{
    display: flex;
    /* justify-content:space-between ; */
    gap: 60px;
}
.icons{
    height: 50px;
    width: 50px;
    background-color: #8289cd;
    border-radius: 0 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons i{
    font-size: 25px;
}
.divider{
    height: 50px;
    width: 1px;
    background-color: white;
}
.texts{
    color: #fff;
}
